.carts {
  z-index: 3;
}
.addingCart {
  border: 1px solid black;
}
.shadow {
  box-shadow: 21px -11px 25px 14px rgb(13, 10, 4, 1);
  -webkit-box-shadow: 21px -11px 25px 14px rgb(13, 10, 4, 1);
}
.card {
  transition: 0.3s;
}
.card:hover {
  transform: scale(1.1);
  z-index: 2;
}
